.form-title.text-center
    h3.text-uppercase UTSTILLERSØKNAD

.container-fluid
    .panel.panel-default
        .panel-body
            .row
                .col-md-offset-2.col-md-4.col-sm-offset-1.col-sm-5.col-lg-offset-3.col-lg-3
                    dl
                        dt Firmanavn
                        dd= company_name

                    dl
                        dt Navn på stand
                        dd= stand_name

                    dl
                        dt Kontaktperson
                        dd= contact_person

                    dl
                        dt Adresse
                        dd= address

                .col-md-4.col-sm-5.col-lg-3
                    dl
                        dt Organisasjonsnummer
                        dd= tax_id

            .row
                .col-md-offset-2.col-md-4.col-sm-offset-1.col-sm-5.col-lg-offset-3.col-lg-3
                    dl
                        dt Postnummer
                        dd= zip_code

                    dl
                        dt Telefon
                        dd= phone

                    dl
                        dt Email
                        dd= email

                .col-md-4.col-sm-5.col-lg-3
                    dl
                        dt Poststed
                        dd= city

                    dl
                        dt Mobil
                        dd= cellphone

                    dl
                        dt Webside
                        dd= website

        .row
            .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.col-lg-offset-3.col-lg-6
                dl
                    dt Fakturaadresse
                    dd= billing_address


    .panel.panel-default
        .panel-body
            .row.selected-checkers
                .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.col-lg-offset-3.col-lg-6
                    dl
                        dt Vi bekrefter søknad av følgende standard stand (telt, åpent til 21:00)

                        unless stand_until_21 === 'custom'
                            dd
                                .glyphicon.glyphicon-ok-sign
                                = stand_until_21
                        else
                            dd
                                .glyphicon.glyphicon-ok-sign
                                | Annen str. #{stand_until_21_custom} kvm.

                    unless wagon === 'no'
                        dl
                            dt
                                .glyphicon.glyphicon-ok-sign
                                unless wagon === 'custom'
                                    | Vogn. Maks bredde/lengde 9 x 3 meter kr. 13.800,-
                                else
                                    | Annen str. vogn. #{wagon_custom} kvm.


                    if opening_hours_to_24 === 'on'
                        dl
                            dt
                                .glyphicon.glyphicon-ok
                                | Åpningstid til 24:00 + kr. 5.000,-

                    if license_open_until_21 === 'on'
                        dl
                            dt
                                .glyphicon.glyphicon-ok
                                | Bevilling åpent til 21:00 + kr. 10.000,-

                    if license_open_until_24 === 'on'
                        dl
                            dt
                                .glyphicon.glyphicon-ok
                                | Bevilling åpent til 24:00 + kr. 27.000,-


    if proposal || note
        .panel.panel-default
            .panel-body
                .row
                    .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.col-lg-offset-3.col-lg-6
                        if proposal
                            dl
                                dt Gladmatrett (forslag)
                                dd= proposal

                        if note
                            dl
                                dt Kommentar
                                dd= note

    include ../terms.jade

    form(action='/complete', method='POST')
        .row
            .col-md-offset-3.col-md-6.text-center
                .checkbox
                    label
                        input(type='checkbox' name='terms_accepted')
                        | <strong><i>Jeg har lest og godtatt kontrakstbetingelsene</i></strong>

        .row
            .col-md-offset-2.col-md-4
                a.download-pdf-btn.btn.btn-link(href='#{pdf_path}')
                    img(src='/images/icon_pdf.png' alt='Download PDF' title='Download PDF')
            .col-md-4.text-right
                input.btn.btn-success(type='submit' disabled='disabled' value='Accept / Complete')

    script.
        $('[name=terms_accepted]').on('change', function (event) {
            if (event.currentTarget.checked) {
                $('form .btn-success').removeAttr('disabled');
            } else {
                $('form .btn-success').attr('disabled', 'disabled');
            }
        });