extends layout

block content
  .container-fluid
    .row
      .col-md-offset-2.col-md-8
        table.table.table-striped
          tbody
            each doc, index in docs
              tr
                th= index + 1
                  td= doc.company_name
                  td= doc.contact_person
                  td= doc.email
                  td
                    a.btn.btn-link(href='/download/#{doc.pdf.filename}') Download PDF

