.panel.panel-default
    .panel-body
        .row
            .col-md-offset-2.col-md-4.col-sm-offset-1.col-sm-5.col-lg-offset-3.col-lg-3
                dl
                    dt Firmanavn
                    dd= company_name

                dl
                    dt Navn på stand
                    dd= stand_name

                dl
                    dt Kontaktperson
                    dd= contact_person

                dl
                    dt Adresse
                    dd= address

            .col-md-4.col-sm-5.col-lg-3
                dl
                    dt Organisasjonsnummer
                    dd= tax_id

        .row
            .col-md-offset-2.col-md-4.col-sm-offset-1.col-sm-5.col-lg-offset-3.col-lg-3
                dl
                    dt Postnummer
                    dd= zip_code

                dl
                    dt Telefon
                    dd= phone

                dl
                    dt Email
                    dd= email

            .col-md-4.col-sm-5.col-lg-3
                dl
                    dt Poststed
                    dd= city

                dl
                    dt Mobil
                    dd= cellphone

                dl
                    dt Webside
                    dd= website

        .row
            .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.col-lg-offset-3.col-lg-6
                dl
                    dt Fakturaadresse
                    dd= billing_address
